.npmrc
.prettierignore
.gitignore
.eslintignore
.commitlintrc
*.lock
.gitkeep
coverage
.expo
.expo-shared
allure-results
fastlane
app.app
*.snap
*.ttf
*.svg
*.png
*.jpg
*.jpeg
*.gif
*.sh
*.feature
.env.*
